* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

/* :root {
    overscroll-behavior: none;
} */

:root {
    --map-tiles-filter: sepia(0.6) brightness(95%) contrast(90%);
}

  
#map .leaflet-tile {
filter: var(--map-tiles-filter);
}

#map {
    z-index: 0;
}

html {
    scroll-behavior: smooth;
    background-color: #FDD24F;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
}

a, a:visited {
  text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
    transition: top 0.1s ease-out;
}

ul {
    list-style-type: none;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1.875rem 0.4rem 1rem;
    /* background-color: #FEC849; */
    background-color: #FDD24F;
    /* font-weight: 700;
    font-size: 1rem; */
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
}

.logo {
    padding-left: 1rem;
}

.nav-items-container {
    font-weight: 800;
    font-size: 1rem;

}

.nav-items {
    display: flex;
}

.nav-items li {
    padding: 0 1rem;
}

.nav-items li a {
    color: black;
}

.nav-items li a:hover {
    color: #F58220;
}

.mobile-nav-container {
    position: fixed;
    z-index: 10;
}

.main-image {
    overflow: hidden;
}

.main-image img {
    width: 100vw;
    height:auto;
    object-fit: cover;
    object-position: center;
  
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 3rem 3rem 3rem;
    gap: 2rem; 
    /* background-color: #F58220; */
}

.about-image,
.about-par-container {
    flex: 1 1 280px; 
}

.about-image {
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-par-container {
    display: flex;
    align-items: center;
    padding: 4rem;
}


.menu-container {
    padding-bottom: 3rem;
    /* background-color: #FFFFCC; */
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 1.875rem 1rem 1.875rem;
}

.menu-heading {
    font-size: 2rem;
    padding: 1rem 0 1.5rem 0;
}

.find-pdf {
    padding: 0 0 3rem 0;
}

.find-pdf a{
    font-weight: 800;
    color:#F58220;
}

.menu-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5rem 0 1.25rem 0;
}

.menu-types li {
    display: inline-block; 
    padding: 0 0.625rem 2.5rem 0.625rem;
    font-weight: 800;
    font-size: 0.95rem
}

.menu-types li a{
    cursor: pointer;
    padding: 0.5rem;
    border: 0.1rem solid black;
    color: black;

    transition: all 0.2s ease;
}

.menu-types li a:hover{
    /* border: 0.1rem solid #F58220; */
    background-color: #F58220;
    color: #FDD24F;
}

.menu-types-active {
    background-color: #F58220;
    color: #FDD24F !important;
}

.menu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3.125rem;
}

.menu-section {
    display: none;
    width: 100%;
    max-width: 700px;
    
}

.menu-section.active {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column; 
    align-items: center;
}

.menu-section-description {
    padding: 0 0 3rem 0;
    text-align: center;
    line-height: 1.5;
}

.menu-section-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.menu-item {
    padding: 0.5rem;
    margin: 0.5rem;
}

.menu-item .desc{
    padding-top: 0.5rem;
}

.menu-type{
    padding: 0.5rem 0 0 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
}

.menu-column {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex: 1 1 50%;
}

.item-name-price {
    display:flex;
    justify-content: space-between;
}

.item-name-price .price {
    /* display: flex;
    align-items: flex-start; */
    font-weight: 800;
    padding-left:1rem;
}

.image-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
}


.image-section img{
    padding: 2rem;
    max-width:50%;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.875rem 0;
}

.time-heading {
    padding: 1rem 0 1.5rem 0;
    font-size: 2rem;
}

.hours {
    text-align:center;
    font-size: 1rem;
}

.hours li {
    padding: 0.5rem;
}

.map {
    padding:0 0 3.5rem 0;
    /* background-color: #FFFFCC; */
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.875rem 0;
    font-size: 1rem;
}

.contact a{
    color: black;
}

.contact a:hover{
    color: #F58220;
}

.location {
    padding: 1.875rem 0 1.875rem 0;
}

.address {
    display: flex;
    justify-content: center;
    padding: 1.875rem 0 1.875rem 0;
}

.address-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.address-container p{
    padding: 2rem;
}

.map-buttons ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.map-buttons li{
    padding: 0 0.625rem 5rem 0.625rem;
    font-weight: 800;
    font-size: 0.95rem
}

.map-buttons li a{
    cursor: pointer;
    padding: 0.5rem;
    border: 0.1rem solid black;
    color: black;

    transition: all 0.2s ease;
}

.map-buttons li a:hover{
    /* border: 0.1rem solid #F58220; */
    background-color: #F58220;
    color: #FDD24F;
}

.footer {
    background-color: #F58220;
    color: #FFFFCC;
    padding: 2rem 0 1rem 0;
    text-align: center;
    font-size: 0.875rem;
}

.footer-container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 1.5rem 0 1.5rem;
}

.footer-container > div:not(.socials) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addr-phone-hours p {
    padding-bottom: 1rem; 
}

.addr-phone-hours a {
    color: #FFFFCC;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials a {
    margin: 0.5rem;
}

.facebook-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('images/facebook.svg');
    background-size: cover;
}

.facebook-icon:hover {
    background-image: url('images/facebook-hover.svg');
}

.instagram-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('images/instagram.svg');
    background-size: cover;
}

.instagram-icon:hover {
    background-image: url('images/instagram-hover.svg');
}

.footer-logo {
    padding: 0;
}

.copyright {
    font-size: 0.75rem;
    padding: 3rem 0 0rem 0;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-left: auto;
}

.exit-hamburger {
    display: none;
    cursor: pointer;
    margin-left: auto;
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
    z-index: 9;
}

@media(min-width: 1800px) {
    .nav-container {
        flex-direction: column; 
        padding-bottom: 1rem;
    }
    .logo {
        padding-bottom: 10px;
    }

}

@media(max-width: 750px) {
    #open-sidebar, #close-sidebar {
        display: block;
    }

    .nav-container {
        flex-direction: row; 
        
    }

    .nav-items {
        position: fixed;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100%;
        background-color: #FDD24F;
        padding-top: 1rem;
        position: fixed;
        transition: right 0.2s ease-in-out;
    }

    .nav-items li {
        padding: 1rem 3rem;
        font-size: 1.5rem;
    }

    .nav-items.active {
        right: 0;
    }

    #overlay.active {
        position: fixed;
        opacity: 0.5; 
        visibility: visible;
        pointer-events: auto;
        z-index: 9;
    }
    
    .hamburger {
        display: block;
    }

    .exit-hamburger {
        display: block;
    }

    .about-par-container {
        padding: 2rem;
    }

    .image-section img {
        max-width: 100%;
    }

    .main-image img {
        height: 100vh;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
    }

    .footer-logo {
        padding: 0 0 3.5rem 0;
        order: -1;
    }

    .socials {
        padding: 0 0 3.2rem 0;
        justify-content: center;
    }

    .addr-phone-hours {
        padding: 0 0 1rem 0;
        order: 1;
    }
}

@media (max-width: 499px) {

    .logo img{
        width: 120px;
        height: 64px;
    }

    .nav-items {
        width: 100%;
    }

    .about {
        padding: 5rem 2rem 3rem 2rem;
    }

    .about-image img{
        border-radius: 20px;
    }

    .image-section {
        padding: 1rem;
    }

    .image-section img {
        padding: 1rem;
        border-radius: 40px;
        margin: 1rem 0 2rem 0;
    }



}



  


